body {
    background-color: #F5F5F5;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

nav > h3 {
    font-weight: 700;
    font-size: 30px;
    padding-left: 40px;
}

.search-bar-container input {
    width: 500px;
}

.search-bar-container button {
    width: 40px;
    margin-left: 20px;
}

.search-bar-container {
    display: flex;
    height: 40%;
    width: 50%;
}

.hero-section-container {
    display: flex;
    height: 500px;
    width: auto;
    background-color: beige;
}

.endpoint-section-container {
    display: flex;
    flex-direction: column;
}

.endpoint-section-container h5 {
    font-weight: 400;
    font-size: 22px;
    padding-left: 35px;
}

.endpoint-box {
    background-color: #5A5A5A;
    border-radius: 5px;
    padding-left: 22px;
}

.endpoint-box p {
    color: #F5F5F5;
}

.endpoint-summary {
    padding-left: 22px;

}
.sample-response-section {
    display: none;
}

.question-form-section {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
    margin-left: 0.5em;
}
