<!doctype html>
<html>
    <head>
        <title>Pokedex</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <nav>
            <h3>Pokedex</h3>
            <input type="text" placeholder="Search by name or index..." />
        </nav>
        <div class="hero-section-container">

        </div>
        <div class="endpoint-section-container">

        </div>
        <div class="sample-response-section">

        </div>
        <div class="question-form-section">

        </div>
    </body>
</html>