<!doctype html>
<html>
    <head>
        <title>Pokedex</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    </head>
    <body>
        <nav>
            <h3>Pokedex</h3>
            <div class="search-bar-container">
                <input type="text" placeholder="Search by name or index..." />
                <button type="button" />
            </div>
            <div></div>
        </nav>
        <div class="hero-section-container">

        </div>
        <div class="endpoint-section-container">
            <h5>Endpoints</h5>
            <div class="endpoint-box">
                <p>/api/v1/getsinglerandompokemon</p>
            </div>
            <p class="endpoint-summary">This endpoint takes in no parameter and returns a random pokemon from the database.</p>
            <div class="endpoint-box">
                <p>/api/v1/getlistrandompokemon/int:n</p>
            </div>
            <p class="endpoint-summary">This endpoint takes in a parameter n (the number of items returned) and returns n items from the database.</p>
            <div class="endpoint-box">
                <p>/api/v1/getpokemonbyid/int:id</p>
            </div>
            <p class="endpoint-summary">This endpoint takes in a parameter id and returns the corresponding pokemon if it exists in the database.</p>
            <div class="endpoint-box">
                <p>/api/v1/getpokemonbyname/string:name</p>
            </div>
            <p class="endpoint-summary">This endpoint takes in a parameter name and returns the corresponding pokemon if it exists in the database.</p>
            <div class="endpoint-box">
                <p>/api/v1/getpokemonbyregion/string:region</p>
            </div>
            <p class="endpoint-summary">This endpoint takes in a string region and return all the pokemon from that region if the region exists</p>
        </div>
        <div class="sample-response-section">
            
        </div>
        <div class="question-form-section">
            <h3>Contact us</h3>
            <p>If you have any questions, suggestions, or requests please use the form below</p>
            <form action="/handleformsubmit" method="post">
                <ul>
                    <li>
                        <Label for="name">Name:</Label>
                        <input type="text" id="name" name="name" />
                    </li>
                    <li>
                        <Label for="email">Email:</Label>
                        <input type="text" id="email" name="email" />
                    </li>
                    <li>
                        <Label for="name">Message:</Label>
                        <input type="text" id="message" name="message" />
                    </li>
                    <li class="button">
                        <button type="submit">Send your message</button>
                    </li>
                </ul>
            </form>
        </div>
    </body>
</html>